
.inscription .errorlist li{
    list-style: none;
    color: tomato;
    font-size: small;
    text-align: start;
}

.captcha_message {
    text-align: start;
    color: orange;
    font-size: 12px;
}
