{% extends 'main.html' %}
{% load static %}

{% block styleshets %}
{% endblock %}

{% block content %}
<h1 class="pt-5 mt-5 ps-3">
    Mes réservations
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard-list" width="42" height="42" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
        <rect x="9" y="3" width="6" height="4" rx="2" />
        <line x1="9" y1="12" x2="9.01" y2="12" />
        <line x1="13" y1="12" x2="15" y2="12" />
        <line x1="9" y1="16" x2="9.01" y2="16" />
        <line x1="13" y1="16" x2="15" y2="16" />
    </svg>
</h1>


<div class="container-fluid py-5">
    <div>
        <p>Nombre total de réservations: <span><i><b>{{ total_reservations }}</b></i></span></p>
    </div>
    <div>
    <!--MESSAGES SUCCESS/ERROR-->
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible d-flex justify-content-center" role="alert">
            <div>
                <img src="{% static 'images/logo.png' %}" alt="logo entreprise"
                style="width:60px;border-radius: 50%;">
            </div>
            <div>
                <a href="{% url 'reservation:user_reservation' request.user.id %}" class="close" data-dismiss="alert"
                aria-label="close">&times;</a>
                {{ message|safe|escape }}
            </div>
            {% elif message.tags == 'error' %}
            </div>
                <div class="alert alert-success alert-dismissible d-flex justify-content-center" role="alert">
            <div>
                <img src="{% static 'images/logo.png' %}" alt="logo entreprise"
                style="width:60px;border-radius: 50%;">
            </div>
            <div>
                <a href="{% url 'reservation:user_reservation' %}" class="close" data-dismiss="alert"
                aria-label="close">&times;</a>
                {{ message|safe|escape }}
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <!--TABLE-->
    <table class="table table-striped table-warning">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Code Postal</th>
            <th scope="col">Vile</th>
            <th scope="col">Date</th>
            <th scope="col">Heure</th>
            <th scope="col">Message</th>
            <th scope="col">Validé ?</th>
<!--            <th scope="col">user_id</th>-->
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <!--SHOW TABLE IF FOUND RESERVATIONS-->
        {% if total_reservations > 0 %}
            {% for reservation in reservations %}
                <tr>
                    <td scope="row">{{ reservation.fullName }}</td>
                    <td scope="row">{{ reservation.adress }}</td>
                    <td scope="row">{{ reservation.zip_code }}</td>
                    <td scope="row">{{ reservation.city }}</td>
                    <td scope="row">{{ reservation.date }}</td>
                    <td scope="row">{{ reservation.hour }}</td>
                    <td scope="row">{{ reservation.message }}</td>
                    <td scope="row">
                        {% if reservation.accepted %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>
<!--                    <td scope="row">{{ reservation.user_id }}</td>-->
                    <td scope="row">
                        <a href="{% url 'reservation:user_update_reservation' reservation.id %}" class="btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                                <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                                <line x1="16" y1="5" x2="19" y2="8" />
                            </svg>
                        </a>
                        <a href="{% url 'reservation:user_delete_reservation' reservation.id %}" class="btn btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <line x1="4" y1="7" x2="20" y2="7" />
                                <line x1="10" y1="11" x2="10" y2="17" />
                                <line x1="14" y1="11" x2="14" y2="17" />
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        <!--SHOW TEXT 'NOT FOUND RESERVATIONS'-->
            {% else %}
                <tr>
                    <td colspan="10">Aucune reservation trouvé !</td>
                </tr>
        {% endif %}
        </tbody>
    </table>
    
<!--NEW RESERVATION BUTTON-->
    <div>
        <a href="{% url 'reservation:user_new_reservation' request.user.id %}" class="btn btn-outline-info">
            Nouvelle réservation
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="12" y1="5" x2="12" y2="19" />
                <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
        </a>
    </div>
</div>

{% endblock %}
