{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="pt-5">
    <h1 class="text-center my-5 animate__animated  animate__lightSpeedInRight">Reserver un créneau</h1>
</div>

<section class="reservation text-center py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p>Image</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <p>Formulaire contact</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

