# In this file you found the requirements to run this app

Django~=4.1.1
mysql
mysqlclient
Pillow
django-widget-tweaks
django-crispy-forms
recaptcha
django-filter~=22.1
six~=1.16.0

# to run email simulation
code for test send mail: python -m smtpd -n -c DebuggingServer localhost:1025
