# In this file you found the requirements to run this app

Django~=4.1.1
mysql
mysqlclient
Pillow
django-widget-tweaks
recaptcha
django-filter~=22.1

code for test send mail: python -m smtpd -n -c DebuggingServer localhost:1025