:root{
    --yellow-30: #DEB31930;
    --yellow-:#DEB319;
    --black: #000000;
}

/*  */
nav {
    /* background: var(--black); */
    /* background: #F4F4F4; */
    /* background: #ECECEC; */
    background: #fff;
}
nav .navbar-brand img{
    width: 46px;
    border-radius: 50%;
}
nav .connection-icons li{
    list-style: none;
}
nav .connection-icons li a svg:hover{
    transform: scale(1.1);
    transition: easy-in .3s;
}
.navbar .navbar-nav .nav-item .nav-link{
    color: #ffbf00;
    height: 60px;
    line-height: 40px;
    font-weight: bold;
    font-size: 1.1rem;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    background: var(--yellow-30)
}

/* MEDIA QUERY */
@media screen and (max-width: 680px){
    .collapse .navbar-nav .nav-item {
        display: block;
        width: 100%;
    }
}
