:root{
    /* --yellow_bgAbout: rgba(222, 179, 25, .3); */
    --yellow_bgAbout: rgba(180, 200, 50, .1);
}
/* about section */
.about, .partners {
    overflow: hidden;
    line-height: 1.5em;
}
.partners h2 {
    color: #DEB319;
}

.about img{
    width: 400px;
}

.about .container .desc{
    font-size: 16px;
    padding: 30px;
    font-family: arial, sans-serif;
}

.about .bgAbout{
    background: var(--yellow_bgAbout);
}

/* parteners section */
.partners {
    padding: 60px;
}

.partners .container{
    background: #ffffff;
}

.partners img{
    width: 250px;
}

/* MEDIA QUERY */
@media screen and (max-width: 1024px){
    .partners img{
        width: 150px;
    }

    .about img{
        width: 300px;
    }

    .about .container .desc{
        font-size: 14px;
    }

}
@media screen and (max-width: 1200px){
    .img img{
        padding-top: 90px;
    }
    .partners div.container{
        padding-top: 0 !important;
    }
}
@media screen and (max-width: 992px){
    .desc, .img {
        display: block;
    width: 100%;
    }
    .img img{
        padding-top: 0;
    }
}
@media screen and (max-width: 768px){
    .about .container .desc{
        font-size: 12px;
        text-align: center;
    }
    .about .container .row{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}
@media screen and (max-width: 425px){
    .about h1{
        padding-top: 0 !important;
    }
}