<div class="container">
    <div class="alert alert-info alert-dismissible py-5">
        <div>
            <a href="{% url 'services:services' %}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h2>Nouveau !!!</h2>
            <h5>Nous vous proposons des nouvelles fonctionnalités sur la nouvelle application web!</h5>
            <p>Vous pouvez désormais accéder à votre compte en ligne et réserver des créneaux
                directement sur votre espace client.</p>
            <p>Vous pouvez ainsi accéder à votre compte et avoir accès a une multitude de services.</p>
            <h3>Ne perdez pas de temps, inscrivez-vous !!!</h3>
        </div>
    </div>
</div>
