<div class="container info_alert_message">
    <div class="alert alert-info alert-dismissible py-5">
        <div>
            <span id="close_alert_message">&times;</span>
            <h2>*** Nouveau ***</h2>
            <h5>
                Nous vous proposons des nouvelles fonctionnalités sur la
                nouvelle application web!
            </h5>
            <p>
                Vous pouvez désormais accéder à votre compte en ligne et
                réserver des créneaux directement sur votre espace client.
            </p>
            <h3>Ne perdez pas de temps, inscrivez-vous !!!</h3>
        </div>
    </div>
</div>
