.contact form .errorlist {
    margin-bottom: 5px;
    padding-left: 5px;
}
.contact form ul li {
    list-style: none;
    text-align: start;
    color: tomato;
    font-size: 12px;
}

.captcha_message {
    text-align: start;
    color: orange;
    font-size: 12px;
}

