{% extends 'main.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<h1 class="text-center my-5">Connexion</h1>
<section class="inscription text-center py-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p>Image</p>
            </div>
            <div class="text-start col-md-6 col-sm-12">
                 <!--errors-->
                 {% include 'errors/messaging.html' %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group mt-3">
                        {% render_field form.username class="form-control" type="text" %}
                    </div>
                    <div class="form-group mt-3">
                        {% render_field form.password class="form-control" placeholder="Mot de passe" type="password" %}
                    </div>
                    <!--button-->
                    <button type="submit" value="Submit" class="btn btn-warning mt-3">Me connecter</button>
                </form>
                <div>
                    <small>Vous n'avez pas de compte ? <a href="{% url 'account:inscription' %}"> M'inscrire</a></small><br>
                     <small class="text-muted">
                        <a href="#">Mot de passe oublié ?</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

