{% extends 'main.html' %}
{% load static %}

{% block content %}
{% include 'account/messaging.html' %}
<h1 class="text-center my-5">Connexion</h1>
<section class="inscription text-center py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p>Image</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <p>Formulaire contact</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

