{% extends 'main.html' %}
{% load widget_tweaks %}
{% load static %}

{% block styleshets %}
<link rel="stylesheet" href="{% static 'css/account/style.css' %}">
{% endblock %}

{% block content%}
<h1 class="text-center pt-5 my-5 animate__animated animate__slideInDown">Inscription</h1>
<section class="inscription text-center pb-5 animate__animated animate__slideInDown">
    <div class="container">
        <div class="row">
            <div class="inscription_img mt-3 col-md-6 col-sm-12 animate__animated animate__slideInLeft">
            </div>
            <div class="text-start col-md-6 col-sm-12">
                <!--errors-->
                {% include 'errors/messaging.html' %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group mt-3">
                        {% render_field form.first_name class="form-control" placeholder="Nom complet*" type="text" %}
                    </div>
                    <div class="form-group mt-3">
                        {% render_field form.username class="form-control" placeholder="Nom utilisateur*" type="text" %}
                    </div>
                    <div class="form-group mt-3">
                        {% render_field form.email class="form-control" placeholder="Email*" type="email" %}
                    </div>
                    <div class="form-group mt-3">
                        {% render_field form.password1 class="form-control" placeholder="Mot de passe*" type="password" %}
                    </div>
                    <div class="form-group mt-3">
                        {% render_field form.password2 class="form-control" placeholder="Confirmer mot de passe*" type="password" %}
                    </div>
                    <div class="form-group mt-3">
                        {{ captcha }}
                        <p class="captcha_message">
                            <span><i>Le captcha est obligatoire</i></span>
                        </p>
                    </div>
                    <div class="text-start mt-3">
                        <small >
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-checkbox" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <polyline points="9 11 12 14 20 6" />
                                <path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" />
                            </svg>
                            En vous inscrivant, vous acceptez les Conditions d'utilisation et la
                            Politique de confidentialité.
                        </small>
                    </div>
                    <!--button-->
                    <button type="submit" value="Submit" class="btn btn-warning">M'inscrire</button>
                </form>
                <div>
                    <small>Vous avez déjà un compte ? <a href="{% url 'my_account:connexion' %}"> Me connecter</a></small>
                    <br>
                    <small><i><a href="{% url 'my_account:rgpd' %}" target="_blank">Consulter RGPD</a></i></small>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
