{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<section class="container text-center pt-5 mt-5">
    <h1 class="mt-5 animate__animated  animate__slideInRight">Mot de passe oublié ?</h1>
    <div class="mx-auto py-5 col-md-6 col-sm-8 animate__animated  animate__slideInLeft">
        <!--BACK BUTTON-->
        <div class="pb-3 text-start">
            <a href="{% url 'my_account:connexion' %}" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back-up" width="32"
                     height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 13l-4 -4l4 -4m-4 4h11a4 4 0 0 1 0 8h-1"/>
                </svg>
                retour connexion
            </a>
        </div>
        <!--FORMULAIRE-->
        <div class="text-start">
            <p>Vous avez oublié votre mot de passe ?</p>
            <p>Veuillez entrer votre adresse e-mail, on vous envoie un lien de réinitialisation.</p>
            <!--errors-->
            {% include 'errors/messaging.html' %}
            <form method="POST">
                {% csrf_token %}
                <div class="text-start">
                    {{ form|crispy }}
                    {{ captcha|crispy }}
                </div>
                <!--button-->
                <button type="submit" class="btn btn-warning mt-3 w-100">Envoyer</button>
            </form>
        </div>

    </div>
</section>
{% endblock %}