{% extends 'main.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="pt-5">
    <h1 class="text-center my-5">Nous Contacter</h1>
</div>

<section class="inscription text-center py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p>Image</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <!--Success message-->
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <a href="{% url 'contact:contact' %}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message|safe|escape }}
                    </div>
                    {% endif %}
                {% endfor %}
                <!--contact form-->
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group mt-3">
                        {{ form.name.errors }}
                        {% render_field form.name class="form-control" placeholder="Nom complet" type="text" %}
                    </div>
                    <div class="form-group mt-3">
                        {{ form.email.errors }}
                        {% render_field form.email class="form-control" placeholder="Votre email" type="email" %}
                    </div>
                    <div class="form-group mt-3">
                        {{ form.phone.errors }}
                        {% render_field form.phone class="form-control" placeholder="Nom telephone" type="text" %}
                    </div>
                    <div class="form-group mt-3">
                        {{ form.subject.errors }}
                        {% render_field form.subject class="form-control" placeholder="Sujet de votre message" type="text" %}
                    </div>
                    <div class="form-group mt-3">
                        {{ form.message.errors }}
                        {% render_field form.message class="form-control" placeholder="Votre message" type="text" %}
                    </div>
                    <!--CAPTCHA-->
                    <div class="form-group mt-3">
                        {{ captcha }}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <a href="{% url 'contact:contact' %}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message|safe|escape }}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- button submit -->
                    <div>
                        <input class="btn btn-warning mt-5 w-100" type="submit" value="Envoyer message">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

