{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="pt-5">
    <div class="pt-5 mt-5 text-center">
        {% include 'bases/alert_info.html' %}
        <h1 class="my-5 animate__animated  animate__slideInRight">Nos Services</h1>
    </div>
</div>

<section id="services" class="py-5">
    <div class="container">
        <div class="row text-center">
            {% for service in services %}
            <div class="col-lg-4 col-md-6 col-sm-12 my-3 animate__animated  animate__slideInRight">
                <div class="card mb-3" style="max-width:540px;min-height:100px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            {% if service.image %}
                            <img src="{{ service.image.url|default_if_none:'#' }}" class="img-fluid rounded-start" alt="{{ service.name }}" style="min-height:100px;">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{service.name}}</h5>
<!--                                <p class="card-text">{{service.desc}}</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}